<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.shanlin.sxf">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    //Bugly的权限配置
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".application.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:label">
        <meta-data
            android:name="CHANNEL_ID"
            android:value="${CHANNEL_ID_VALUE}" />

        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <data android:scheme="mtaautotrack.a4ab60dc1d25a6c0e397fcd3cf32d055" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Main2Activity"
            android:screenOrientation="portrait" />
        <!--android:theme="@style/TranslucentTheme"-->
        <!--/>-->
        <activity
            android:name=".Main3Activity"
            android:theme="@style/TranslucentTheme" />
        <activity
            android:name=".Main4Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".paint.PaintActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".SingerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SeekBarActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PopubWindowActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".diyview.TreasureViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".gson.GsonActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".picture.PictureActivity"
            android:screenOrientation="portrait" />

        <service android:name=".service.MyIntentService" />
        <service android:name=".service.MyService">
            <intent-filter>
                <action android:name="com.shanlin.sxf.MyService" />
            </intent-filter>
        </service>
        <!-- priority 范围：-1000~1000 广播接受优先级 -->
        <receiver android:name=".broadcast.MyBroadCastReceive">
            <intent-filter android:priority="500">
                <action android:name="com.myBrocaCast" />
            </intent-filter>
        </receiver>

        <!-- <receiver android:name=".broadcast.MyBroadCastBReceive"> -->
        <!-- <intent-filter android:priority="100"> -->
        <!-- <action android:name="com.myBrocaCast"/> -->
        <!-- </intent-filter> -->
        <!-- </receiver> -->
        <activity android:name=".fragment.MFragmentActivity" />
        <activity android:name=".MyViewActivity" />
        <activity android:name=".diyview.MyViewItemActivity" />
        <activity
            android:name=".MyTransParenceActivity"
            android:theme="@style/AppThansParentThream" />
        <activity android:name=".MyCameraActivity" />
        <activity android:name=".MyCameraViewActivity" />
        <activity android:name=".MyCamera2Activity" />
        <activity android:name=".MainTouchActivity" />
        <activity android:name=".MyWebViewActivity" />
        <activity android:name=".ScrollCompatActivity"></activity>
    </application>

</manifest>