<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.shanlin.sxf">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:name=".application.MyApplication"
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@mipmap/tab02"
        android:roundIcon="@mipmap/tab02"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:label">
        <activity android:name=".softkeybord.NewSoftInputActivity"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name=".InputOtherActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".softkeybord.SoftInputChangeActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".softkeybord.InputWxEmojActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".ViewScrollVelocityTrackerActivity" />

        <meta-data
            android:name="CHANNEL_ID"
            android:value="${CHANNEL_ID_VALUE}" />

        <activity
            android:name=".MainUIActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <data android:scheme="mtaautotrack.a4ab60dc1d25a6c0e397fcd3cf32d055" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Main2Activity"
            android:screenOrientation="portrait" />
        <activity android:name=".Main3Activity" />
        <activity
            android:name=".Main4Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".paint.PaintActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".SeekBarActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PopubWindowActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".gson.GsonActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".picture.PictureActivity"
            android:screenOrientation="portrait" />

        <service android:name=".service.MyIntentService" />
        <service android:name=".service.MyService">
            <intent-filter>
                <action android:name="com.shanlin.sxf.MyService" />
            </intent-filter>
        </service> <!-- priority 范围：-1000~1000 广播接受优先级 -->
        <receiver android:name=".broadcast.MyBroadCastReceive">
            <intent-filter android:priority="500">
                <action android:name="com.myBrocaCast" />
            </intent-filter>
        </receiver> <!-- <receiver android:name=".broadcast.MyBroadCastBReceive"> -->
        <!-- <intent-filter android:priority="100"> -->
        <!-- <action android:name="com.myBrocaCast"/> -->
        <!-- </intent-filter> -->
        <!-- </receiver> -->
        <activity android:name=".fragment.MFragmentActivity" />
        <activity
            android:name=".MyTransParenceActivity"
            android:theme="@style/AppThansParentThream" />
        <activity android:name=".MyCameraActivity" />
        <activity android:name=".MyCameraViewActivity" />
        <activity android:name=".MyCamera2Activity" />
        <activity android:name=".MainTouchActivity" />
        <activity android:name=".MyWebViewActivity" />
        <activity android:name=".MethodRangeActivity" /> <!-- bugly热修复之配置 -->
        <activity
            android:name="com.tencent.bugly.beta.ui.BetaActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|locale"
            android:theme="@android:style/Theme.Translucent" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity android:name=".VolumeActivity" />
        <activity
            android:name=".ViewPagerFlipperActivity"
            android:screenOrientation="portrait" />

        <service android:name=".service.MyVideoPlayService">
            <intent-filter>
                <action android:name="android.intent.action.VIDEO_PLAY_SERVICE" />
            </intent-filter>
        </service>
    </application>

</manifest>