<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zfdang.multiple_images_selector">

    <application android:allowBackup="true">

        <activity
            android:name=".ImagesSelectorActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>